html, body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    position: fixed;
}

#page-wrapper {
    height: inherit;
    width: inherit;
}

/* Martin's logo */
.leftTriangle {
    fill:none;
    stroke:white;
    stroke-miterlimit:10;
    stroke-linejoin:miter;
/*    stroke-width:4px;*/
    stroke-dasharray:1500 1500;
    animation: animate 3.5s ease-in-out;
}

.rightTriangle {
    height: 100%;
    width: 100%;
    fill:none;
    stroke:white;
    stroke-linejoin:miter;
    stroke-miterlimit:10;
/*    stroke-width:4px; */
    stroke-dasharray:1500 1500;
    animation: animate 3.5s ease-in-out;
}

@keyframes animate {
    from {stroke-dashoffset: 1500}
    to {stroke-dashoffset: 0}
}

#name {
    fill:white;
    stroke:white;
    stroke-miterlimit:10;
    stroke-width:0.25px;
    opacity: 1;     
    animation:  nameAnimate 3.5s ease-in-out;
}

@keyframes nameAnimate{
    from {opacity: 0}
    to {opacity: 1}
}

svg {
    height: 100%;
    width: 100%;
}

.aboutTxt {
    fill-opacity: 0
}

.collectionsTxt {
    fill-opacity: 0
}

.logofolioTxt {
    fill-opacity: 0
}

.extraTxt {
    fill-opacity: 0
}

#aboutPanel {
    transition: fill-opacity 0.5s;
}

#collectionsPanel {
    transition: fill-opacity 0.5s;
}

#logofolioPanel {
    transition: fill-opacity 0.5s;
}

#extraPanel {
    transition: fill-opacity 0.5s;
}

#secretPanel {
    transition: fill-opacity 0.5s;
}

#aboutPanel:hover {
    fill-opacity: 0.1
}

#collectionsPanel:hover {
    fill-opacity: 0.1
}

#extraPanel:hover {
    fill-opacity: 0.1
}

#logofolioPanel:hover {
    fill-opacity: 0.1
}

#secretPanel:hover {
    fill-opacity: 0.5
} 
